@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

#not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--vt-c-white-soft);
}

#not-found h1 {
  font-size: 15rem;
  line-height: 15rem;
}
